<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)"/>

    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
  </head>
  <body>
    <h1 class="title">有一款游戏叫根本停不下来，智商是硬伤</h1>
    <h2 class="sub-title">
      <span class="never">2048</span>
      <em>当前分数：<span id="current">0</span></em>
      <b>历史最高：<span id="history">0</span></b>
    </h2>
    <table id="content" cellpadding="0" colspacing="0"></table>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
